*{ 

margin:0; 

padding:0; 

box-sizing:border-box; 

text-decoration: none; 

border: none; 

outline: none; 

font-family:Playfair Display, Zalando Sans SemiExpanded, sans-serif; 

} 

 

html{ 

overflow-y: scroll; 

} 

body{ 

font-size: 16px; 

width:100%; 

height:100vh; 

background-color:#546F58; 

color:white; 

} 

header{ 

margin-top: 20px; 

} 

 

nav a{ 

font-size: 18px; 

color: white; 

transition: 0.3s ease; 

border-bottom: 3px solid transparent; 

margin-left: 30rem; 

border-bottom-left-radius: 1rem; 

font-weight: 500;  

} 

img { 

max-width: 100%; 

} 

nav a:hover, 

nav a :active{ 

color: palevioletred; 

} 

.home-img{ 

border-radius:5px; 

} 

.home-img img{ 

cursor: pointer; 

} 

.HomePage { 

display:flex; 

} 

 

.hero-img, .herotext { 

width: 45%; 

padding: 20px; 

} 

.herotext { 

} 

.footer-content { 

flex-direction: column; 

text-align: center; 

} 
